.left-nav-wrapper {
    height: 100vh;
    width: 10vw;
    border-left: 1px solid white;
}

.left-nav-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    background-color: rgb(5,4,5);
    height: 100vh;
    width: 10vw;
    margin-top: -50px;
}

.left-nav-container * {
    margin: 10px;
}

.home-and-story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: -10px;
}

.nav-linebreak {
    height: 1px;
    width: 40px;
    background-color: white;
}

.nav-publish {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-house-chimney, .fa-bookmark, .fa-pen-to-square {
    color: white;
    font-size: 30px;
}

.fa-github {
    position: fixed;
    color: white;
    font-size: 60px;
    margin-top: 150px;
    left: 3vw
}

.fa-github:hover {
    text-decoration: none;
    scale: 1.2;
    /* font-size: 75px; */
    color: rgb(128, 73, 167);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    cursor: pointer
}
