.story-body-container {
    height: 100px;
    width: 500px;
    overflow: hidden;
}

.story-body {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
}
