:root {
   --classic: #0258da;;
   --fantasy: #0839ac;;
   --psychological: #071e7a;
   --sci-fi: #030E6E;
   --supernatural: #000033;
   --weird: #050405;
   --blood-red: #BD0900;
   --gold: #FCCA00;
}

* {
    padding: 0;
    margin: 0;
 }

 button:hover {
    cursor: pointer;
 }

 body {
   overflow-x: hidden;
 }
