/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

* {
    padding: 0;
    margin: 0;
 }

 button:hover {
    cursor: pointer;
 }

 body {
   overflow-x: hidden;
 }
