.form-signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 20vw;

}

#join-us {
    font-size: 50px;
}

.signup-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.errors {
    display: flex;
    flex-direction: column;
    color: rgb(207, 11, 11);
    margin-top: 20px;
}

.form-field {
    display: flex;
    flex-direction: row;
    width: 110%;
    justify-content: space-between;
}

.form-field * {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.form-signup-container .form-field {
    padding-top: 20px;
}

#confirm-password {
    padding-bottom: 30px;
}

#submit {
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 25px;
    /* width: 80px; */
    /* height: 20px; */
    font-size: 20px;
    font-weight: bold;
    border-width: 1px;
    padding: 5px 15px;
}

#submit:hover {
    margin-bottom: 20px;
    background-color: black;
    color: white;
}
