.nav-wrapper {
    display: flex;
    background-color: rgb(5, 4, 5);
}

.nav-container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    left: 0;
    background-color: rgb(5, 4, 5);
    height: 70px;
    width: 100vw;
    border-bottom: 1px solid white;
    /* gap: 65%; */
    z-index: 2;
}


#logo {
    display: flex;
    align-items: center;
    padding-left: 2vw;
    gap: 10px;
}

#logo p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 28px;
}

#login-and-about {
    display: flex;
    padding-top: 10px;
    align-items: center;
    /* gap: 10px; */
    margin-right: 10%;
    /* width: 100%; */
}

#logout {
    background-color: transparent;
    color: white;
    font-size: 16px;
    width: 120px;
}

#sign-up {
    position: fixed;
    top: 29px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    /* width: 100%; */
}

#nav-username {
    color: white;
    width: 160px;
}

.sessionlinks-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* gap: 30px; */
    font-family: arial;
    font-size: 16px;
    /* margin-right: 100px; */
}
