#nav-container {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    color: white;
    background-color: darkslateblue;
    width: 100vw;
    height: 75px;
    border-bottom: 1px solid black;
}

.active {
    color:white;
}

#nav-container *:visited {
    color: white;
}

.fa-regular {
    color: white;
    font-size: 24px;
}

#user-dropdown {
    border: none;
    background-color: transparent;
}

#user-dropdown:hover {
    background-color: transparent;
}
