.login-container {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 12px gray;
    padding: 25px;
    align-items: center;
}

.login-errors {
    display: flex;
    flex-direction: column;
    color: rgb(207, 11, 11);
    margin-bottom: 20px;
}

.form-field * {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

#login {
    background-color: transparent;
    color: white;
    font-size: 16px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

.welcome-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linebreak {
    height: 1px;
    width: 80%;
    background-color:gray;
}

.username-container {
    padding-bottom: 20px;
}

.password-container {
    padding-bottom: 20px;
}

#welcome {
    padding-bottom: 30px;
}

#username-label {
    padding-right: 10px;
}

#password-label {
    padding-right: 73px;
}

.demo-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#demo-login {
    margin-top: 20px;
}

#login-submit {
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 15px;
    width: 80px;
    height: 20px;
    font-weight: bold;
    border-width: 1px;
}
#login-submit:hover {
    margin-bottom: 20px;
    background-color: black;
    color: white;
}

#demo-login {
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 15px;
    width: 120px;
    height: 20px;
    font-weight: bold;
    border-width: 1px;
}

#demo-login:hover {
    margin-bottom: 20px;
    background-color: black;
    color: white;
}
